<div class="login-container">
    <h1>Login</h1>

    {{#if messages.error}}
    <div class="alert alert-danger">{{messages.error}}</div>
    {{/if}}
    {{#if messages.success}}
    <div class="alert alert-success">{{messages.success}}</div>
    {{/if}}
    {{#if messages.info}}
    <div class="alert alert-info">{{messages.info}}</div>
    {{/if}}

    <form action="/auth/login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit" class="btn">Login</button>
    </form>
</div>