<!DOCTYPE html>
<html>

<head>
    <title>BookMeLocal</title>
    <!-- Include any global CSS files or meta tags here -->
</head>

<body>
    {{{body}}}
    <!-- You can include global scripts here -->
</body>

</html>