<!-- 404.handlebars -->
{{!-- Layouts and partials --}}
{{> layouts/main}}

{{!-- Content --}}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>404</h1>
            <h2>Oops! Page not found.</h2>
            <p>The page you are looking for might have been removed, had its name changed, or is temporarily
                unavailable.</p>
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>

{{!-- Footer partial --}}
{{> partials/footer}}