{{> header }}


<div class="container">
    <h1 class="heading">Welcome to BookMeLocal</h1>
    <p>This is the Business Page for now.</p>
    <!-- Additional content can go here -->
</div>


{{> footer }}